@import '../../../theme.scss';

.main-navbar, .main-navbar nav {
  display: flex;
  align-items: center;
}

.main-navbar {
  height: 80px;
  margin-left: 80px;
  width: calc(100% - 80px);
  background: $white;
  border-bottom: 1px solid $border;
  padding-left: 30px;

  nav {
    margin-left: auto;

    button {
      margin-right: 30px;
    }
  }
}