@import '../../../theme.scss';

.btn {
  cursor: pointer;
  letter-spacing: 1.20px;
  &:focus {
    outline: none;
  }
}

.txt--btn {
  border: none;
  background: none;
}

.txt--btn--l-font {
  color: $l-font;
}

.txt--btn--main-font {
  color: $main;
}

.txt--btn-bold {
  font-weight: 600;
}

.bg--btn {
  border: none;
  padding: 15px;
}

.bg--btn-main {
  background: $main;
  color: $white;
}

.bg--btn-rounded {
  border-radius: 1000px;
}