@import '../../../theme.scss';

.login-btn {
  width: 100%;
  margin: 20px 0 30px 0;
}

#forgot-pass-btn {
  margin: 55px auto 0 auto;
  text-align: center;
  display: block;
  font-size: 14px;
}

.facebook-btn {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 1.25px;
  color: $main;
}