@import '../../../../theme.scss';

.alert {
  padding: 9px 10px 10px 10px;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  animation: .3s alert-in;
  will-change: transform;
  &:not(:first-of-type) {
    border-top: 1px solid $white;
  }
  @keyframes alert-in {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .alert__message {
    font-size: 12px;
    font-weight: 300;
    margin-left: 15px;
  }
}

.alert--error {
  background: $error;
  color: $white;
}