@import '../../../../theme.scss';

.alert {
  padding: 15px;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  will-change: transform;
  &:not(:first-of-type) {
    margin-top: 10px;
  }
  .alert__message {
    font-size: 14px;
    font-weight: 300;
    margin-left: 14px;
  }
}

.alert-appears {
  animation: .3s alert-in forwards;
  @keyframes alert-in {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.alert-repeated {
  animation: .3s alert-repeated forwards;
  @keyframes alert-repeated {
    from {
      transform: rotate(15deg);
    }
    to {
      transform: rotate(0);
    }
  }

}

.alert-removed {
  animation: .3s alert-out forwards;
  @keyframes alert-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-15px);
    }
  }
}

.alert--error {
  background: $error;
  color: $white;
}

.alert--ok {
  background: $ok;
  color: $white;
}

