@import '../../../theme.scss';

.btn {
  cursor: pointer;
  letter-spacing: 1.20px;
  font-family: inherit;
  position: relative;
  z-index: 1;
  &:focus {
    outline: none;
  }
}

.btn--loading {
  opacity: .6;
}

.btn--medium {
  padding: 12px;
}

.txt-btn {
  border: none;
  background: none;
}

.txt-btn--l-font {
  color: $l-font;
}

.txt-btn--main-font {
  color: $main;
}

.txt-btn--bold {
  font-weight: 600;
}

.bg-btn {
  border: none;
}

.bg-btn--main {
  background: $main;
  color: $white;
}

.bg-btn--rounded {
  border-radius: 1000px;
}