@import '../../theme.scss';
#auth {
  display: flex;
  width: 1000px;
  height: 572px;
  #auth__login-wrap, #auth__register-wrap {
    position: relative;
  }

  #auth__login-wrap {
    padding: 40px 50px;
    width: 400px;
  }
  
  #auth__register-wrap {
    padding: 40px 50px 40px 70px;
    width: 600px;
  }
}