$second: #97D1D8;
$main: #97A2D8;
$light-bg: #FBFBFB;
$font: #454545;
$l-font: #9B9999;
$border: #E8E8E8;
$white: #ffffff;
$shadow: 0 6px 24px rgba(0, 0, 0, .14);
$backdrop: rgba(0, 0, 0, 0.52);
$commercial-backdrop: rgba(0, 0, 0, 0.521);
