@import '../../../theme.scss';

.side-navigation {
  position: fixed;
  top: 0;
  left: 0;
  background: $main;
  width: 80px;
  height: 100vh;

  .side-navigation__logo-wrap {
    width: 80px;
    height: 80px;
    background: $white;
    border-bottom: 1px solid $main;
  }
}